/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

Button {
	-fx-background-radius: 10px;
}


/*Styles for the editPaymenFlowPanes*/

#editPaymentFlowPane {
	-fx-border-style: solid;
}

/*Styles for the editAddressFlowPanes*/

#editAddressFlowPane {
	-fx-border-style: solid;
}

/*Button for adding new addresses or shipments */
#add-address-btn {
    -fx-padding: 8 15 15 15;
    -fx-background-insets: 0,0 0 5 0, 0 0 6 0, 0 0 7 0;
    -fx-background-radius: 8;
    -fx-background-color: 
        linear-gradient(from 0% 93% to 0% 100%, #a34313 0%, #903b12 100%),
        #9d4024,
        #d86e3a,
        radial-gradient(center 50% 50%, radius 100%, #d86e3a, #c54e2c);
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.75) , 4,0,0,1 );
    -fx-font-weight: bold;
    -fx-font-size: 5em;
    -fx-pref-height: 120;
    -fx-pref-width: 120;
}
#add-address-btn:hover {
    -fx-background-color: 
        linear-gradient(from 0% 93% to 0% 100%, #a34313 0%, #903b12 100%),
        #9d4024,
        #d86e3a,
        radial-gradient(center 50% 50%, radius 100%, #ea7f4b, #c54e2c);
}
#add-address-btn:pressed {
    -fx-padding: 10 15 13 15;
    -fx-background-insets: 2 0 0 0,2 0 3 0, 2 0 4 0, 2 0 5 0;
}
#add-address-btn Text {
    -fx-fill: white;
    -fx-effect: dropshadow( gaussian , #a30000 , 0,0,0,2 );
}


/** {
	-fx-primary : #2A2E37;
	-fx-secondary : #FFFF8D;
	-fx-primarytext : #B2B2B2;
}

#root{
	-fx-background-color: -fx-primary;
}
#textField{
	-fx-background-color: -fx-primary;
	-fx-text-fill: -fx-primarytext;
	-fx-border-color: -fx-primarytext;
	-fx-border-width: 0px 0px 1px 0px solid;
}*/
